doctype html
html
  head
    title Landing express node
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='jumbotron.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Brand
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        
    .container
     block content
    hr
    footer.container
     p(class='text-center') © Marius Monkam 2019
    // /container
